
.player{
    position: fixed;
    width: 89%;
    height: 10vh;
    bottom: 2%;
    right: 1%;
    @include flexed();
    justify-content: space-around;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 2em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    mix-blend-mode: difference;
    padding-left: 10%;

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        h3{
            text-transform: capitalize;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: auto;
            max-width: 70%;
            color: lightgrey;
            @media screen and (max-width:1600px) {
                max-width: 90%;
            }
            @media screen and (max-width:1400px) {
                max-width: 80%;
            }
        }
        p{
            margin: 0;
            color:#ccc;
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: auto;
            max-width: 100%;
            @media screen and (max-width:1600px) {
                max-width: 60%;
            }
            @media screen and (max-width:1400px) {
                max-width: 60%;
            }
        }
    }
    .controls{
        flex: .2;
        @include flexed();
        color: $lightText;
        .control{
            transition: all .5s ease;
            cursor: pointer;
            &:hover{
                color: $primary;
            }
        }
    }
    .progress-wrapper{
        @include flexed();
        flex: .5;
        height: 10%;
        border-radius:1em;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

        .progress-bar{
            flex: 1;
            display: flex;
            height: 100%;
            position: relative;
            background: #111;
        }
        
        .progress{
            position: absolute;
            height: 100%;
            width: 40%;
            background: $primary;
            left: 0;
            top: 0;
            z-index: 1;
            border-radius:1em;
            transition: all .5s ease;
        }
        .metadata{
            position: absolute;
            height: 100%;
            width: 80%;
            background: whitesmoke;
            transition: all .5s ease;
            left: 0;
            top: 0;
            z-index: 1;
            border-radius:1em;
        }
    }
}

    
.player-avatar{
    position: absolute;
    z-index: 1;
    bottom: 4%;
    left: 3.5%;
    img{
        mix-blend-mode: normal;
        border-radius: 50%;
        border: 1px solid #222;
        filter: drop-shadow(0 -15px 5px rgba(0,0,0,.1));
    }
    &::after{
        content: "";
        background: #222;
        border: 1px solid #111;
        width: 20%;
        height: 20%;
        z-index: 1;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

.paused {
    animation-play-state: play;
    -webkit-animation-play-state: paused;
}

.orbit {
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    -webkit-animation-duration:5s;
}

@keyframes orbit {
    from { -webkit-transform:rotate(0deg) }
    to { -webkit-transform:rotate(360deg) }
    }

@-webkit-keyframes orbit {
from { -webkit-transform:rotate(0deg) }
to { -webkit-transform:rotate(360deg) }
}

@-moz-keyframes orbit {
from { -moz-transform:rotate(0deg) }
to { -moz-transform:rotate(360deg) }
}
